

h1
{
color:black;
text-align:center;
text-decoration:blink;

}

p
{
font-family:fantasy;
font-style:normal;
font-size:20px;
}

q{
	
border-top-style:ridge;
border-right-style:ridge;
border-bottom-style:ridge;
border-left-style:ridge;
	
}

d
{
background-image:url("1920x1080w.jpg");
filter:alpha(opacity=40); 
}